img {


       width:40%

       }

a
{
    color:white;
}



h4
{
    color: blue;
    text-align: left;
    font-weight: bold;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;


}


p
{
    color: blue;
    text-align: left;
    font-weight: bold;

}


#game

{
    color: #688b2e;
    text-align: right;
}


.center

{
    color: #f0882f;
    text-align: left;
}