img {


       width:40%

       }

a
{
    color:white;
}



h3
{
    color: blue;
    text-align: left;




}


p
{
    color: blue;
    text-align: left;
    font-weight: bold;

}


#game

{
    color: #688b2e;
    text-align: right;
}


.center

{
    color: #f0882f;
    text-align: left;
}