h3
{
    color: blue;
    text-align: left;
}


p
{
    color: red;
    text-align: center;
}


#game

{
    color: #688b2e;
    text-align: right;
}


.center

{
    color: #f0882f;
    text-align: left;
}